:root{
    --AzulEscuro: #014BA0;
    --Azul2: #0A5CB8;
    --Azul3: #1466C3;
    --Azul4: #2174D4;
    --AzulClaro: #3B8EED;
    --BrancoPuro: #ffffff;
    --Preto: #000000;

    --FontePrincipal: 'poppins';
}